body {
  background: #f9fafc;
  color: #617892;
  font-family: 'Fira Sans', helvetica, sans-serif;
  font-size: 93.75%; /* 15px base 16px */
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  line-height: 1.33; /* 20px */
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #052b53;
  font-weight: normal;

}

h1, .h1 {
  font-size: 44px;
}

h2, .h2 {
  font-size: 30px;
  margin: 0 0 40px 0; 
}

h3, .h3 {
  
}

h4, .h4 {
}

a {
}

a.active,
a:active,
a:focus,
a:hover {
  text-decoration: underline;
}

a:hover,
.btn:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  opacity: 0.75;
}

b, strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

img {
  height: auto !important;
  max-width: 100% !important;
}

.btn {
  border: none;
}

.btn-primary {
  color: #f7f7f7;
  display: inline-block;
  font-weight: 500;
  line-height: 42px;
  padding: 0 30px;
  text-transform: uppercase;
  
  background: #edf9ff;
  background: -moz-linear-gradient(top, rgba(237,249,255,0.5) 0%, rgba(0,177,255,0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(237,249,255,0.5) 0%,rgba(0,177,255,0.5) 100%);
  background: linear-gradient(to bottom, rgba(237,249,255,0.5) 0%,rgba(0,177,255,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80edf9ff', endColorstr='#8000b1ff',GradientType=0 );
  
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  
  -webkit-box-shadow: 0 10px 20px 0 rgba(88,53,167,0.46);
  box-shadow: 0 10px 20px 0 rgba(88,53,167,0.46);
}

.btn-outline-primary {
  background: none;
  border: 1.2px solid #99ccff;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 42px;
  padding: 0 30px;
  text-transform: uppercase;

  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
}

.btn-light {
  background: none;
  border: none;
  color: #0065ff;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 42px;
  padding: 0 30px;
  text-transform: uppercase;

  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  
  -webkit-box-shadow: 0 10px 20px 0 rgba(88,53,167,0.46);
  box-shadow: 0 10px 20px 0 rgba(88,53,167,0.46);
}

.btn-warning {
  background: none;
  border: none;
  color: #f7f7f7;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 42px;
  padding: 0 30px;
  text-transform: uppercase;

  background-image: -webkit-linear-gradient(#ffb29b, #e78263);
  background-image: -o-linear-gradient(#ffb29b, #e78263);
  background-image: linear-gradient(#ffb29b, #e78263);

  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 21px;
  
  -webkit-box-shadow: 0 10px 20px 0 #5835a774;
  box-shadow: 0 10px 20px 0 #5835a774;
}


.container {
  max-width: 1040px;
}

/*
--------------------------------------------------------------------------------
  HEADER
--------------------------------------------------------------------------------
*/

#header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}

#header nav {
  background: none !important;
  color: #f7f7f7;
  font-size: 13px;
  font-weight: 400;
  line-height: 34.6px;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0; 
}

#header > nav .container {
  padding: 0 15px;
}

#header > nav .navbar-brand {
  color: #fff;
  font-size: 34px;
  line-height: 1;
  padding: 0;
}

#header > nav ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#header > nav li {
  display: inline-block;
  margin: 0;
}

#header > nav li + li {
  margin-left: 25px;
}

#header > nav li a {
  color: #fff;
  padding: 0;
}

#header > nav li a:hover {
  text-decoration: none;
}

/* LOGIN */
#header > nav .btn-outline-primary {
  font-size: 13px;
  line-height: 34px;
  margin-left: 130px;
  padding: 0;
  width: 104.4px;
}

#header > nav .navbar-toggler {
  background: url(../images/header-navbar-toggler.png) no-repeat 50% 50%;
  height: 22px;
  margin: 0;
  width: 37px;
  padding: 0;
}

#header > nav .navbar-toggler:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  opacity: 0.75;
}


/*
--------------------------------------------------------------------------------
  MAIN
--------------------------------------------------------------------------------
*/

#main {
  padding-bottom: 170px
}


/*
--------------------------------------------------------------------------------
  HERO
--------------------------------------------------------------------------------
*/

.hero {
  background: url(../images/hero.svg) no-repeat 50% 0;
  background-size: 100% 445px;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 50px;
  padding-top: 115px;
  text-align: left;
}

.hero .article {
  margin-top: 45px;
  max-width: 425px;
}

.hero .article h1 {
  color: #f7f7f7;
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 25px;
}

.hero .article p {
  margin: 0;
  max-width: 506px;
}


/*
--------------------------------------------------------------------------------
  PAGE: HOME
--------------------------------------------------------------------------------
*/

/* HERO ----------------------------------------------------------------------*/

#home-hero {
  background-image: url(../images/home-hero.svg);
  background-size: 100% 100%;
  font-weight: 300;
  padding-top: 130px;
  padding-bottom: 25px;
}

#home-hero .container {
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 0px;
}

#home-hero .article {
  margin-top: 55px;
  max-width: 310px;
}

#home-hero h1 {
  font-size: 51px;
  margin-bottom: 20px;
}

#home-hero .article .btn {
  font-size: 15px;
  font-weight: 500px;
  margin-top: 50px;
}

#home-hero img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}


/* CLIENT --------------------------------------------------------------------*/
#home-client {
  margin: 0 auto 20px auto;
  max-width: 920px;
}
  
#home-client .clients {
  margin-bottom: 85px;
  text-align: center;
}

/* CLIENT LIST */
#home-client .clients a.more {
  background: url(../images/more.png) no-repeat 100% 50%;
  color: #00b1ff;
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
  padding-right: 25px;
}

#home-client .clients ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0; 
}

#home-client .clients li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#home-client .clients li + li {
  margin-left: 35px;
}

/* PROCESS */
#home-client .process {
  max-width: 920px;
}

#home-client .process .col-lg-6 {
  padding-left: 70px;
  padding-right: 70px;
}

#home-client .process .before,
#home-client .process .now {
  max-width: 320px;
  position: relative;
}

#home-client .process .before .inner,
#home-client .process .now .inner {
  background: url(../images/home-client-before.png) no-repeat 0 0;
  background-size: cover;
  height: 500px;
  padding-top: 45px;
  text-align: center;
  
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  
  -webkit-box-shadow: -20px 20px 50px -10px rgba(0,0,0,0.35);
  box-shadow: -20px 20px 50px -10px rgba(0,0,0,0.35);
}

#home-client .process .now .inner {
  background: url(../images/home-client-now.png) no-repeat 0 0;
  background-size: cover;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  border-radius: 160px;
}

#home-client .process h3 {
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#home-client .process h4 {
  background: #fff;
  color: #052b53;
  display: inline-block;
  font-style: italic;
  line-height: 28px;
  margin-bottom: 25px;
  padding: 0 12px;
  font-size: 93.75%;
  font-weight: 400;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#home-client .process ul {
  list-style: none outside none;
  margin: 0 75px 0 80px;
  padding: 0;
  text-align: left;
}

#home-client .process li {
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
  line-height: 18px;
  padding-bottom: 15px;
  padding-left: 30px;
  position: relative;
}

#home-client .process li u {
  border-bottom: 2px solid #FF4F67;
  text-decoration: none;
}

#home-client .process .now li u {
  border-bottom-color: #00DC6E;
}

#home-client .process li img {
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 25px;
}

#home-client .process ul + p {
  background: url(../images/home-client-before-p.png) no-repeat 50% 50%;
  background-size: 100% 100%;
  color: #ffffff;
  display: inline-block;
  font-weight: 500;
  font-style: italic;
  line-height: 30px;
  margin-top: 25px;
  padding: 0 15px 15px 15px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#home-client .process.now ul + p {
  background: url(../images/home-client-now-p.png) no-repeat 50% 50%;
  padding: 0 15px 15px 15px;
}

#home-client .process p + p {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.11;
  padding: 0 70px;
}

#home-client .process p + img {
  position: absolute;
  bottom: 0;
  margin-bottom: -55px;
  margin-left: -55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#home-client .process h2 {
  background: url(../images/home-client-before-face.png) no-repeat 50% 0,
              url(../images/home-client-before-b.png) no-repeat 50% 100%;
  color: #052b53;
  display: block;
  font-size: 27px;
  font-weight: 700;
  line-height: 1;
  margin: -70px auto 0 auto;
  padding: 150px 10px 10px 10px;
  text-align: center;
  width: 130px;
}

#home-client .process .now h2 {
  background-image: url(../images/home-client-now-face.png),
                    url(../images/home-client-now-b.png);
  color: #0060ff;
}


/* HR ------------------------------------------------------------------------*/
#home-hr {
  background: url(../images/home-hr.png) no-repeat 50% 0;
  background-size: 100% 100%;
  padding-top: 120px;
  padding-bottom: 160px;
}

#home-hr .container {
  max-width: 1470px;
}

#home-hr .saving {
  color: #f7f7f7;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

#home-hr .saving img {
  margin-top: -60px;
}

#home-hr .saving .col-lg-5 {
  margin-left: -100px;
}

#home-hr .saving h2 {
  background: url(../images/hr.png) no-repeat 50% 100%;
  color: #f7f7f7;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.29;
  margin: 75px auto 45px auto;
  max-width: 485px;
  padding-bottom: 25px;
}

#home-hr .saving ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;

  align-items: start;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 20%;
}

#home-hr .saving li {
  background: url(../images/home-hr-saving.png) no-repeat 50% 50%;
  color: #f7f7f7;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  height: 180px;
  padding: 40px;
  text-align: center;
  width: 180px;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#home-hr .saving li:nth-of-type(1) {
  grid-column: 2 / span 2;
  margin-bottom: -15px;
}

#home-hr .saving li:nth-of-type(2) {
  grid-column: 1 / span 2;
}

#home-hr .saving li:nth-of-type(3) {
  grid-column: 3 / span 2;
  padding-top: 60px;
}

#home-hr .saving li b {
  display: block;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
}

/* ITEMS */
#home-hr .items {
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
  line-height: 1.22;
  margin: 30px auto 0 auto;
  max-width: 1100px;
  text-align: center;
}

#home-hr .items img {
  display: block;
  margin: 0 auto 20px auto;
}


/* COMMENTS ------------------------------------------------------------------*/
#home-comments {
  color: #052b53;
  font-size: 30px;
  line-height: 42px;
  padding: 55px 0 85px 0;
}

#home-comments .container {
  max-width: 1170px;
}

#home-comments .blockquote {
  font-size: 30px;
  line-height: 42px;
}

#home-comments p {
  background: url(../images/home-comments-bq.png) no-repeat 0 0;
  margin-top: 45px;
  padding: 25px 10px 0 115px;
}

#home-comments h3,
#home-comments h4 {
  color: #0060ff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-top: 25px;
  padding-left: 115px;
}

#home-comments h4 {
  color: #00b1ff;
  margin-top: 10px;
}

#home-comments .img {
  background: url(../images/home-comments-img-01.png) no-repeat 100% 0,
              url(../images/home-comments-img-02.png) no-repeat 80px 100%;
  padding: 45px 35px 60px 0;
}

#home-comments .img img {
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
}


/* START ---------------------------------------------------------------------*/
#home-start {
  background: url(../images/home-start.png) no-repeat 50% 0;
  background-size: 100% 100%;
  font-size: 30px;
  text-align: center;
  color: #f7f7f7;
  min-height: 484px;
  padding: 80px 0 240px 0;
}

#home-start p {
  max-width: 480px;
  margin: 0 auto;
}

#home-start p + p {
  color: #ffffff;
  font-size: 21px;
  font-weight: 300;
  margin-top: 17px;
}

#home-start .btn-primary {
  margin-top: 30px;
}


/* PLATFORM ------------------------------------------------------------------*/
#home-platform {
  padding-top: 15px;
  padding-top: 0;
  text-align: center;
}

#home-platform .container {
  max-width: 1160px;
}

#home-platform h2 {
  background: url(../images/hr.png) no-repeat 50% 100%;
  color: #052b53;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  max-width: 590px;
  padding-bottom: 25px
}

#home-platform img {
  margin-top: 80px;
}

#home-platform h3 {
  color: #052b53;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  margin-top: 10px;
  text-align: center;
}

#home-platform p {
  font-size: 15px;
  color: #617892;
  line-height: 1.33;
  margin: 0 auto;
  max-width: 265px;
}

#home-platform .more {
  background: url(../images/more.png) no-repeat 100% 50%;
  color: #00b1ff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-top: 20px;
  padding-right: 25px;
  text-transform: uppercase;
}


/*
--------------------------------------------------------------------------------
  PAGE: ABOUT
--------------------------------------------------------------------------------
*/

/* HERO ---------------------------------------------------------------------*/



/* OPTIMIZE ------------------------------------------------------------------*/
#about-optimize {
  color: #617892;
  font-size: 21px;
  line-height: 26px;
  padding: 45px 0 35px 0;
}

#about-optimize h2 {
  max-width: 420px;
}

#about-optimize p {
  margin-bottom: 26px;
  max-width: 506px;
}


/* NUMBERS -------------------------------------------------------------------*/
#about-numbers {
  background: url(../images/about-numbers.svg) no-repeat 50% 0;
  background-size: 100% 100%;
  color: #fff;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

#about-numbers > div {
  background: url(../images/about-numbers-01.png) no-repeat 5% 50%,
              url(../images/about-numbers-02.png) no-repeat 95% 50%;
  padding-top: 105px; 
  padding-bottom: 80px; 
  max-width: 1440px;
  margin: 0 auto;
}

#about-numbers .container {
  max-width: 1200px;
}

#about-numbers h2 {
  color: #fff;
  margin: 3px 0 37px;
}

#about-numbers ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none outside none; 
  margin: 0;
  padding: 0;
  text-align: center;
}

#about-numbers ul li {
  display: inline-block;
  margin: 12px 0 15px 0;
  padding: 0;
  width: 25%;
}

#about-numbers h3 {
  color: #fff;
  font-size: 45px;
  font-weight: 500;
  margin: 10px 0 0 0;
}

#about-numbers p {
  margin: 0;
}


/* FOUNDERS ------------------------------------------------------------------*/
#about-founders {
  color: #617892;
  font-size: 21px;
  margin: 0 auto;
  max-width: 770px;
  padding: 75px 0 80px 0;
  text-align: center;
}

#about-founders h2 {
  margin-bottom: 50px;
}

#about-founders ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none outside none; 
  margin: 0;
  padding: 0;
  text-align: center;
}

#about-founders ul li {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  width: 50%;
}

#about-founders li h3 {
  color: #fff;
  margin-top: -60px;
  text-align: center;
}

#about-founders p {
  margin: 70px auto 0 auto;
  max-width: 695px;
}


/* FAMILY --------------------------------------------------------------------*/
#about-family {
  background: url(../images/about-family.svg) no-repeat 50% 0;
  background-size: 100% 100%;
  color: #617892;
  font-size: 21px;
  padding: 80px 0 120px 0;
  text-align: center;
}

#about-family h2 {
  margin-bottom: 75px;
}

#about-family ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none outside none; 
  margin: 0 0 83px 0;
  padding: 0;
  text-align: center;
}

#about-family li {
  display: inline-block;
  margin: 0;
  padding: 0 35px;
}

#about-family li:nth-child(1) {
  padding-left: 0;
}

#about-family li:nth-child(6) {
  padding-right: 0;
}

#about-family .join {
  color: #052b53;
}

#about-family .join a {
  background: url(../images/more-orange.svg) no-repeat 100% 50%;
  color: #ff9878;  
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 26px;
  margin-left: 10px; 
  padding-right: 30px;
}


/* OURPP ---------------------------------------------------------------------*/
#about-ourpp {
  color: #617892;
  font-size: 21px;
  padding-top: 65px;
  text-align: center;
}

#about-ourpp h2 {
  color: #052b53;
  font-size: 30px;
  margin-bottom: 15px;
}

#about-ourpp .purpose,
#about-ourpp .promise {
  min-height: 305px;
  padding: 60px 0;
}

#about-ourpp .purpose {
  background: url(../images/about-ourpp-purpose.svg) no-repeat 0 0;
}

#about-ourpp .promise {
  background: url(../images/about-ourpp-promise.svg) no-repeat 100% 0;
}

#about-ourpp .purpose p {
  margin: 0 auto;
  max-width: 357px;
}

#about-ourpp .promise p {
  margin: 0 auto;
  max-width: 390px;
}


/*
--------------------------------------------------------------------------------
  PAGE: FUNCTIONALTIES
--------------------------------------------------------------------------------
*/

/* HERO ---------------------------------------------------------------------*/
#function-hero {
  background: url(../images/hero.svg) no-repeat 50% 0;
  background-size: 100% 440px;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 50px;
  max-height: none;
  padding-top: 115px;
  text-align: center;
}

#function-hero .container {
  max-width: 100%;
  padding: 0 150px 0 100px;
}

#function-hero .article {
  margin-top: 0;
  max-width: none;
}

#function-hero .article h1 {
  font-size: 38px;
  margin-bottom: 0;
}

#function-hero .article p {
  margin: 0;
  max-width: none;
}

#function-hero .img {
  margin-top: 40px;
}

#function-hero .btn {
  font-size: 15px;
  margin-top: -30px;
  background-image: -webkit-linear-gradient(#00afff, #0060ff);
  background-image: -o-linear-gradient(#00afff, #0060ff);
  background-image: linear-gradient(#00afff, #0060ff);
}


/* TIME-OFF -------------------------------------------------------------------*/
.function-timeoff {
  padding: 100px 0; 
}

#function-timeoff {
  background: url(../images/function-timeoff-01.svg) no-repeat 50% 100%;
  background-size: 100% auto;
  padding-top: 70px;
}

#function-timeoff h2 {
  background: url(../images/hr.svg) no-repeat 50% 100%;
  color: #052b53;
  font-size: 40px;
  margin-bottom: 100px;
  padding-bottom: 23px;
  text-align: center;
}

#function-timeoff-2 {
}

#function-timeoff-3 {
  background: url(../images/function-timeoff-03.svg) no-repeat 50% 0;
  background-size: 100% 100%;
}

#function-timeoff-4 {
}

.function-timeoff .content {
  color: #617892;
  font-size: 21px;
  line-height: 29px;
  padding-top: 80px;
}

.function-timeoff .content h3 {
  color: #052b53;
  font-size: 30px;
  margin-bottom: 30px;
}

.function-timeoff .content ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.function-timeoff .content ul li {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.function-timeoff .content ul li + li {
  margin-top: 20px;
}

.function-timeoff .content ul li {
  background: url(../images/function-timeoff-green.svg) no-repeat 0 6px;
}

#function-timeoff .content ul li:nth-child(2),
#function-timeoff-2 .content ul li:nth-child(4),
#function-timeoff-3 .content ul li:nth-child(1) {
  background-image: url(../images/function-timeoff-purple.svg);
}

#function-timeoff .content ul li:nth-child(3),
#function-timeoff-2 .content ul li:nth-child(1),
#function-timeoff-4 .content ul li:nth-child(3) {
  background-image: url(../images/function-timeoff-orange.svg);
}

#function-timeoff-2 .content ul li:nth-child(2),
#function-timeoff-4 .content ul li:nth-child(2) {
  background-image: url(../images/function-timeoff-blue.svg);
}


/* SUCCESS ---------------------------------------------------------------------*/
#function-success {
  background: url(../images/function-success.svg) no-repeat 50% 0;
  background-size: 100% 100%;
  color: #fff;
  font-size: 28px;
  padding: 110px 0 70px 0;
  text-align: center;
}

#function-success .container {
  max-width: 1120px;
}

#function-success h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 0;
}

#function-success .success {
  max-width: 544px;
}

#function-success .success-l {
  background: url(../images/function-success-l.svg) no-repeat 0 0;
  background-size: auto 100%; 
  margin-right: auto;
  padding: 83px 64px 107px 124px;
}

#function-success .success-r {
  background: url(../images/function-success-r.svg) no-repeat 100% 0;
  background-size: auto 100%; 
  margin-left: auto;
  padding: 83px 124px 107px 64px;
}

#function-success .success p {
  margin-bottom: 0;
}

#function-success .success p b {
  font-size: 40px;
  font-weight: 500;
}

#function-success .footer {
  font-size: 21px;
  margin-top: -21px;
}

#function-success .footer p {
  line-height: 1;
  margin-bottom: 25px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=58)";
  filter: alpha(opacity=58);
  opacity: 0.58;
}

#function-success .footer .btn {
}


/* OTHERS ---------------------------------------------------------------------*/
#function-others {
  padding-top: 92px;
}

#function-others .row {
  margin-left: -23px;
  margin-right: -23px;
}

#function-others .row .col-lg-6 {
  padding-left: 23px;
  padding-right: 23px;
}

#function-others h2 {
  background: url(../images/hr.svg) no-repeat 50% 100%;
  color: #052b53;
  font-size: 40PX;
  line-height: 1.33;
  margin-bottom: 90px;
  padding-bottom: 25px;
  text-align: center;
}

#function-others .content {
  background: url(../images/function-others.svg) no-repeat 0 0;
  background-size: 100% 100%;
  color: #617892;
  font-size: 14px;
  line-height: 1.43;
  margin-top: 46px;
  padding: 40px;

  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}

#function-others .content:hover {
  -webkit-box-shadow: 0 4px 38px 0 #00b1ff42; 
  box-shadow: 0 4px 38px 0 #00b1ff42; 
}

#function-others .row .col-lg-6:nth-child(1) .content, 
#function-others .row .col-lg-6:nth-child(2) .content {
  margin-top: 0;
}

#function-others .content .img {
  float: left;
}

#function-others .content .text {
  margin-left: 100px; 
}

#function-others .content h3 {
  color: #052b53;
  font-size: 18px;
  line-height: 24px;
}

#function-others .content .more {
  background: url(../images/more.svg) no-repeat 100% 50%;
  color: #00b1ff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 20px;
  padding-right: 30px;
  text-transform: uppercase;
}


/*
--------------------------------------------------------------------------------
  PAGE: PRICING
--------------------------------------------------------------------------------
*/

/* HERO ---------------------------------------------------------------------*/
#pricing-hero {
  background-size: 100% 100%;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 50px;
  height: 490px;
  padding-top: 115px;
  text-align: center;
}

#pricing-hero .container {
  padding: 0 15px;
}

#pricing-hero .article {
  margin: 0 auto;
  padding: 0;
  max-width: 290px;
}


/* PRICING ---------------------------------------------------------------------*/

#pricing {
  /*background: url(../images/pricing.svg) no-repeat 50% 100%;
  background-size: 100% 250px;*/
  background: url(../images/pricing-l.svg) no-repeat 10% 350px,
              url(../images/pricing-r.svg) no-repeat 90% 350px;
  /*border-bottom: 1px solid #d6f0fc;*/
  margin-top: -220px;
  /*padding-bottom: 110px;*/
  text-align: center;
}

#pricing > .footer {
  background: url(../images/pricing.svg) no-repeat 50% 100%;
  background-size: 100% auto;
  height: 110px;
}

#pricing .container {
  max-width: 910px;
}

#pricing.collapse:not(.show),
#pricing.collapse.show {
  display: block !important;
}

#pricing.collapsing {
  height: auto !important;
}

#pricing .panel-more {
  display: none;
}

#pricing.show .panel-more {
  display: block;
}

#pricing.collapsing .more,
#pricing.show .more {
  display: none;
}

#pricing.show .panel-more .more {
  display: inline-block;
}

#pricing .panel {
  background: #fff;
  color: color: #617892;
  padding: 25px 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 392px;
  border-radius: 25px;
  box-shadow: 0 3px 6px 0 #00000019, 0 3px 6px 0 #00000019;
}

#pricing .panel h2 {
  color: #052b53;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.51;
  margin-bottom: 15px;
}

#pricing .panel .h2 {
  display: none;
}

#pricing .panel .price {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
}

#pricing .panel .price b {
  display: block;
  font-size: 67px;
  font-weight: 300;
  line-height: 0.79;
  margin-bottom: 10px;
}

#pricing .panel .btn-outline-primary {
  background: #fff;
  border: 2px solid #00b1ff;  
  color: #00b1ff;
  line-height: 36px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 48px;
}

#pricing .panel .btn-primary {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 50px;
  background-image: -webkit-linear-gradient(#00afff, #0060ff);
  background-image: -o-linear-gradient(#00afff, #0060ff);
  background-image: linear-gradient(#00afff, #0060ff);
}

#pricing .panel h3 {
  color: #00b1ff;
  font-size: 14px;
  font-weight: 600;
  padding-right: 20px;
}

#pricing .panel li {
  text-align: left;
}

#pricing .features {
  background: url(../images/pricing-features.svg) no-repeat 0 0;
  background-size: 100% 100%;
  margin: 0 -40px;
  margin-bottom: 25px;
  padding: 40px 20px 40px 40px; 
}

#pricing .features ul {
  list-style: none outside none; 
  margin: 0;
  padding: 0;
}

#pricing .features ul li {
  font-size: 18px;
  line-height: 40px;
  padding: 0;
}

#pricing .features ul li + li {
  margin-top: 5px; 
}

#pricing .features ul li:before {
    display: block;
    background: url("../images/pricing-features-li.svg") no-repeat 50% 50%;
    content: "";
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

#pricing .more {
  background: url(../images/more.svg) no-repeat 100% 50%; 
  color: #00b1ff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 20px;
  padding-right: 25px;
}

#pricing .more:hover {
  text-decoration: none;
}

#pricing .panel-more {
  margin: 0 auto;
  max-width: 260px;
  padding-bottom: 30px;
}

#pricing .panel-more ul,
#pricing .panel-more ul li {
  list-style: none outside none; 
  margin: 0;
  padding: 0;
}

#pricing .panel-more .section {
  border-top: 2px solid #f2f1f1;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.2px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-left: 10px;
  text-align: left;
}

#pricing .panel-more .section:first-of-type {
  border: none;
  margin-top: 0;
}

#pricing .panel-more .section h4 {
  color: #617892;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

#pricing .panel-more .section li:before {
  content: "· ";
}

#pricing .panel-more .disable,
#pricing .panel-more .disable h4 {
  color: #61789240;
}


/* NUMBERS -------------------------------------------------------------------*/
#about-numbers.pricing {
  background: #fefefe;
  color: #0060ff;
}

#about-numbers.pricing > div {
  background: url(../images/pricing-numbers-l.svg) no-repeat 5% 80%, 
              url(../images/pricing-numbers-r.svg) no-repeat 95% 80%;
}

#about-numbers.pricing h2 {
  color: #000;
}

#about-numbers.pricing h3 {
  color: #0060ff;
}


/*
--------------------------------------------------------------------------------
  FOOTER
--------------------------------------------------------------------------------
*/

/* DEMO ----------------------------------------------------------------------*/
#demo {
  color: #f7f7f7;
  font-size: 30px;
  max-width: 1010px;
  margin: -180px auto 100px auto;
  min-height: 215px;
  padding: 30px 70px;
  text-align: center;
  
  background: -moz-linear-gradient(top, #00b1ff 0%, #0060ff 100%);
  background: -webkit-linear-gradient(top, #00b1ff 0%, #0060ff 100%);
  background: linear-gradient(top, #00b1ff 0%, #0060ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b1ff', endColorstr='#0060ff',GradientType=0 );
  
  -webkit-border-radius: 47px;
  -moz-border-radius: 47px;
  border-radius: 47px;
}

#demo table,
#demo tbody,
#demo tr {
  display: block;
  margin: 0;
  width: 100%;
}

#demo td {
  border: none;
  padding: 0;
  vertical-align: middle;
}

#demo td:nth-child(1) {
  min-width: 160px;
}

#demo td:nth-child(3) {
  width: auto;
  max-width: 100%;
  white-space: nowrap;
}

#demo i {
  background: url(../images/footer-demo.svg) no-repeat 50% 50%;
  background-size: contain;
  display: inline-block;
  width: 160px;
  height: 146px;
}

#demo p {
  color: #fff;
  display: inline-block;
  margin: 0 40px;
}

#footer #demo .btn-primary {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  background-image: -webkit-linear-gradient(#edf9ff80, #00b1ff80);
  background-image: -o-linear-gradient(#edf9ff80, #00b1ff80);
  background-image: linear-gradient(#edf9ff80, #00b1ff80);
}

/* TOP -----------------------------------------------------------------------*/
#footer .top {
  background: url(../images/footer.svg) no-repeat 50% 0;
  background-size: 100% 100%;
  padding: 100px 0 75px 0;
}

#footer .top .container:first-child {
  padding-bottom: 80px;
}

#footer .top .container .row {
  /*margin-top: 50px;*/
}

#footer .navbar-brand {
  color: #0060ff;
  font-size: 38px;
  line-height: 1;
  margin-bottom: 80px;
  padding: 0;
}

#footer .btn-light {
  font-size: 13px;
  margin-bottom: 20px;
  width: 161px;

  -webkit-box-shadow: 0 10px 20px 0 rgba(0,96,255,0.23);
  box-shadow: 0 10px 20px 0 rgba(0,96,255,0.23);
}

#footer .btn-primary {
  font-size: 13px;
  width: 161px;
  background: #0060ff;
  background: -moz-linear-gradient(top, rgba(0,175,255,1) 0%, rgba(0,96,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(0,175,255,1) 0%,rgba(0,96,255,1) 100%);
  background: linear-gradient(to bottom, rgba(0,175,255,1) 0%,rgba(0,96,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8000afff', endColorstr='#800060ff',GradientType=0 );
  
  -webkit-box-shadow: 0 10px 20px 0 rgba(0,96,255,0.23);
  box-shadow: 0 10px 20px 0 rgba(0,96,255,0.23);
}

#footer ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#footer ul li {
  margin: 0;
  padding: 0;
}


/* SOCIAL --------------------------------------------------------------------*/
#footer .social {
  margin-top: 80px;
}

#footer .social ul {
  list-style: none outside none;
}

#footer .social li {
  display: inline-block;
}

#footer .social li + li {
  margin-left: 12px;
  margin-left: 5px;
}

#footer .social a {
  background: #697f97;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  width: 32px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#footer .social a:hover {
  text-decoration: none;
}


/* NAV ----------------------------------------------------------------------*/
#footer .nav {
  font-size: 14px;
  line-height: 28px;
}

#footer .nav .carreers a {
  background: url(../images/footer-carreers.png) no-repeat 100% 50%;
  display: inline-block;
  padding-right: 25px;
}

#footer .nav a {
  color: rgba(17, 51, 91, 0.62);
}

#footer .nav h6 {
  font-weight: 700;
  text-transform: uppercase;
}

#footer .nav > div:nth-child(1) h6  {
  color: #00b1ff;
}

#footer .nav > div:nth-child(2) h6  {
  color: #4cd964;
}

#footer .nav > div:nth-child(3) h6  {
  color: #0060ff;
}

#footer .nav > div:nth-child(4) h6  {
  color: #7537ff;
}


/* NEWSLETTER ----------------------------------------------------------------*/
#footer .newsletter {
  margin-top: 45px;
  max-width: 350px;
}

#footer .newsletter label {
  color: #ff9878;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#footer .newsletter .form-control {
  border-color: #d8d8d8;
  font-size: 12px;
  line-height: 32px;
  padding: 0;
  padding-left: 20px;
  border-radius: 16px 0 0 16px;
}

#footer .newsletter .btn {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
  padding: 0 20px;
  
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  
  box-shadow: 0 10px 20px 0 rgba(0, 96, 255, 0.23);
  background-image: linear-gradient(to bottom, #00b1ff, #0060ff);
}


/* ISO -----------------------------------------------------------------------*/
#footer .iso {
  margin-top: 45px;
  text-align: right;
}


/* BOTTOM --------------------------------------------------------------------*/
#footer .bottom {
  background: url(../images/footer-b.svg) no-repeat 50% 0;
  background-size: 100% 100%;
  color: rgba(17, 51, 91, 0.62);
  font-family: 'PT Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin-top: -35px;
  padding: 100px 0 60px 0;
  text-align: left;
}


/* COPYRIGHT -----------------------------------------------------------------*/
#footer .copyright {
  padding-top: 15px;
}

#footer .copyright ul {
  list-style: none outside none;
  margin: 1px 0 0 0;
  padding: 0;
}

#footer .copyright ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#footer .copyright li + li::before {
  content: " / ";
  color: rgba(17, 51, 91, 0.62);
  
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.50;
}

#footer .copyright a {
  color: rgba(17, 51, 91, 0.62);
  
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.50;
}

#footer .copyright a:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}


/* APK -----------------------------------------------------------------------*/
#footer .apk {
  text-align: right;
}

#footer .apk ul {
  list-style: none outside none;
  margin: 1px 0 0 0;
  padding: 0;
}

#footer .apk ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#footer .apk li + li {
  margin-left: 10px;
}

#footer .google-play,
#footer .app-store {
  display: inline-block;
  height: 40px;
  width: 114px;
}

#footer .google-play {
  background: url(../images/footer-google-play.png) no-repeat 50% 50%;
}

#footer .app-store {
  background: url(../images/footer-app-store.png) no-repeat 50% 50%;
}