/*Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}


/*
********************************************************************************
  DESKTOP MEDIUM
********************************************************************************
*/
@media (min-width: 992px) and (max-width: 1199px) {
  
  #header nav .btn-outline-primary {
    margin-left: 60px;
    margin-right: 0;
  }

  #home-hero .container {
    max-width: 1040px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
}

/*
********************************************************************************
  PHONE AND TABLET
********************************************************************************
*/

@media (max-width: 991px) {
  
.container {
  padding: 0 10px;
}
  
#header > nav {
  padding: 0; 
}

#header > nav .container {
  padding: 0 10px;
}

#header .navbar-collapse {
  background: rgba(0, 96, 255, 0.85);
  margin-top: 10px;
  padding: 10px;   
  padding-bottom: 30px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#header > nav ul {
  margin-top: 20px;
}

#header > nav li {
  display: block;
  text-align: center;
}

#header > nav li + li {
  margin-left: 0;
}

#header > nav li a {
  display: block;
  padding: 10px 0;
}

#header > nav .dropdown .dropdown-menu {
  background: none;
  border-color: #ccc;
  display: block;
  float: none;
  margin: 0;
  margin-top: -10px;
  min-width: auto;
  padding: 10px 0;
  position: static;
  box-shadow: 0 0 0 0 #00000016, 0 3px 31px 0 #00000012;
}

#header > nav .dropdown .dropdown-menu a {
  line-height: inherit;
}

#header > nav form {
  display: block;
  text-align: center;
}

#header > nav .btn-outline-primary {
  margin: 20px 0 0 0;
}
  

/*
--------------------------------------------------------------------------------
  HERO
--------------------------------------------------------------------------------
*/
.hero {
  background-size: auto 100%;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 100px;
}

.hero .article {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.hero .article h1 {
  margin-bottom: 20px;
}

.hero .article p {
  max-width: 265px;
  margin: 0 auto;
}

.hero .article .btn {
  margin-top: 25px;
}

.hero img {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


/*
--------------------------------------------------------------------------------
  HOME
--------------------------------------------------------------------------------
*/

/* HERO ----------------------------------------------------------------------*/

#home-hero {
  background-position: 50% 0;
  background-size: auto 100%;
  padding-top: 100px;
}

#home-hero .container {
  max-width: none;
  padding-left: 10px;
  padding-right: 10px;
}

#home-hero .article {
  padding-top: 0;
  margin-top: 0;
  max-width: none;
  text-align: center;
}

#home-hero h1 {
  margin-top: 0;
}


/* CLIENT --------------------------------------------------------------------*/
#home-client .clients {
  margin-bottom: 30px;
}

#home-client .clients > a.more {
  background: url(../images/more.png) no-repeat 50% 100%;
  display: block;
  margin: 0 auto 15px auto;
  padding: 0 0 25px 0;
  max-width: 245px;
}

#home-client .clients li + li {
  margin-left: 20px;
  margin-bottom: 15px;
}

/* PROCESS */
#home-client .process {
  max-width: 920px;
}

#home-client .process .col-lg-6 {
  padding-left: 10px;
  padding-right: 10px;
}

#home-client .process .before,
#home-client .process .now {
  margin-left: auto;
  margin-right: auto;
}

#home-client .process .now {
  margin-top: 80px;
}


/* HHRR ----------------------------------------------------------------------*/
#home-hr {
  background: url(../images/home-hr-sm.png) no-repeat 50% 0;
  background-size: 100% 100%;
  padding-top: 120px;
  padding-top: 0;
  padding-bottom: 85px;
}

#home-hr .container-fluid {
  max-width: 1140px;
}

#home-hr .saving {
  text-align: center;
}

#home-hr .saving img {
  margin-top: 0;
}

#home-hr .saving > div:nth-child(2) { /*y*/
  margin-left: 0;
}

#home-hr .saving h2 {
  margin: 25px auto;
  max-width: 375px;
}

#home-hr .saving ul {
  display: block;
}

#home-hr .saving li:nth-of-type(1) {
  margin-bottom: 0;
}

#home-hr .saving li:nth-of-type(2),
#home-hr .saving li:nth-of-type(3) {
  margin-top: 15px;
}

#home-hr .saving li:nth-of-type(1),
#home-hr .saving li:nth-of-type(2),
#home-hr .saving li:nth-of-type(3) {
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  width: 180px;
}

#home-hr .items {
  margin: 0 auto 0 auto;
  margin-top: 55px;
  max-width: 375px;
}

#home-hr .items > div {
  margin-top: 25px;
  /*wp*/
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

#home-hr .items > div:nth-child(1),
#home-hr .items > div:nth-child(2) {
  margin-top: 0;
}


/* COMMENTS -------------------------------------------------------------------*/
#home-comments {
  font-size: 27px;
  line-height: 37px;
  padding: 0;
}

#home-comments p {
  background: url(../images/home-comments-bq.png) no-repeat 50% 25px;
  margin: 0;
  padding: 125px 0 0 0;
}

#home-comments h3,
#home-comments h4 {
  padding: 0;
}

#home-comments .img {
  background: url(../images/home-comments-img-01.png) no-repeat 100% 0,
              url(../images/home-comments-img-02.png) no-repeat 80px 100%;
  margin: -10px auto;
  max-width: 365px;
  padding: 40px 10px 50px 0;
  text-align: center;
}

#home-comments .img img {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}


/* START ---------------------------------------------------------------------*/
#home-start {
  background-size: cover;
  font-size: 30px;
  text-align: center;
  color: #f7f7f7;
  margin-top: 60px;
  min-height: 484px;
  padding: 80px 0 160px 0;
}


/* PLATFORM ------------------------------------------------------------------*/
#home-platform {
  margin-bottom: 30px;
  padding-top: 0;
}

#home-platform img {
  margin: 50px auto 0 auto;
  padding-top: 0;
}


/*
--------------------------------------------------------------------------------
  PAGE: ABOUT
--------------------------------------------------------------------------------
*/

/* HERO -------------------------------------------------------------------*/
#about-hero {
  background-size: auto 100%;
  background-position: 84% 0;
}

#about-hero .row {
  background-position: 50% 90%;
}

#about-hero .article {
  padding-top: 0;
  margin-top: 0;
  max-width: none;
}

#about-hero h1 {
  margin-top: 0;
}


/* OPTIMIZE ------------------------------------------------------------------*/
#about-optimize {
  margin-top: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

#about-optimize h2,
#about-optimize p {
  margin-left: 0;
  margin-right: 0;
}

#about-optimize h2 {
  margin-bottom: 35px;
}

#about-optimize img {
  display: block;
  margin-top: 20px;
}


/* NUMBERS -------------------------------------------------------------------*/
#about-numbers {
  background-image: url(../images/about-numbers-sm.svg);
  margin-top: 60px;
}

#about-numbers > div {
  background: url(../images/about-numbers-01.png) no-repeat 50% 15%, 
              url(../images/about-numbers-02.png) no-repeat 50% 85%;
  padding: 60px 0 10px 0;
}

#about-numbers {
  text-align: center;
}

#about-numbers h2 {
  margin-bottom: 50px; 
}

#about-numbers ul {
  display: block;
}

#about-numbers ul li {
  display: block;
  margin: 45px 0; 
  width: 100%;
}


/* FOUNDERS ------------------------------------------------------------------*/
#about-founders {
  padding: 42px 0;
}

#about-founders ul {
  display: block;
}

#about-founders ul li {
  display: block;
  margin: 0;
  width: 100%;
}

#about-founders .row > div:nth-child(2),
#about-founders ul li:nth-child(2) {
  margin-top: 60px;
}

#about-founders p {
  margin-top: 60px;
}


/* FAMILY --------------------------------------------------------------------*/
#about-family {
  background-size: auto 100%;
  padding: 60px 0 90px 0;
  text-align: center;
}

#about-family h2 {
  margin-bottom: 60px;
}

#about-family ul {
  margin: 0 auto 70px auto;
  max-width: 250px;
  padding: 0;
}

#about-family li {
  display: inline-block;
  margin: 25px 0;
  padding: 0;
  width: 50%;
}

#about-family li:nth-child(1),
#about-family li:nth-child(2) {
  margin-top: 0;
}

#about-family li:nth-child(5),
#about-family li:nth-child(6) {
  margin-bottom: 0;
}

#about-family .join a {
  color: #ff9878;  
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.6px;
}


/* OURPP ---------------------------------------------------------------------*/
#about-ourpp {
  padding-top: 0;
}

#about-ourpp h2 {
  margin-bottom: 25px; 
}

#about-ourpp .purpose,
#about-ourpp .promise {
  padding: 60px 0;
}

#about-ourpp .purpose {
  background-size: contain;
}

#about-ourpp .promise {
  background-size: contain;
  margin-top: 30px; 
}

#about-ourpp .purpose p,
#about-ourpp .promise p {
  margin: 0 auto;
  max-width: 360px;
}



/*
--------------------------------------------------------------------------------
  PAGE: FUNCTIONALTIES
--------------------------------------------------------------------------------
*/

/* HERO ---------------------------------------------------------------------*/
#function-hero {
  /*background: url(../images/hero.svg) no-repeat 50% 0;*/
  background-size: auto 380px;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 50px;
  max-height: none;
  padding-top: 85px;
  text-align: center;
}

#function-hero .container {
  padding: 0 15px;
}

#function-hero .article {
  margin: 0 auto;
  padding: 0;
  /*max-width: 290px;*/ /*wp*/
}

#function-hero .btn {
  margin-top: 25px;
}


/* TIME-OFF -------------------------------------------------------------------*/
.function-timeoff {
  padding: 60px 0; 
}

#function-timeoff {
  background-size: auto auto;
  padding-top: 0;
}

#function-timeoff-3 {
  background-size: auto 100%;
}

#function-timeoff-4 {
}

#function-timeoff h2 {
  margin-bottom: 60px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.function-timeoff .content {
  padding-top: 0;
}

.function-timeoff .content {
  max-width: 410px;
  margin-left: auto;
  margin-right: auto;
}

.function-timeoff .img {
  padding-top: 50px;
  text-align: center;
}


/* SUCCESS ---------------------------------------------------------------------*/
#function-success {
  background-position: 0 0;
  background-size: auto 100%;
  padding-top: 80px;
  padding-bottom: 120px;
}

#function-success h2 {
  margin-bottom: 0;
}

#function-success .success {
  max-width: 335px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

#function-success .success-l {
  background: url(../images/function-success-l.svg) no-repeat 50% 0;
  background-size: auto auto;
  margin-right: 0;
  padding: 125px 0 101px 0;
}

#function-success .success-r {
  background: url(../images/function-success-r.svg) no-repeat 50% 0;
  background-size: auto auto;
  margin-left: 0;
  padding: 150px 0 101px 0;
}

#function-success .footer {
  margin-top: 0;
}


/* OTHERS ---------------------------------------------------------------------*/
#function-others {
  padding-top: 0;
  padding-bottom: 30px;
}

#function-others h2 {
  margin-bottom: 50px;
}

#function-others .content {
  max-width: 400px;
  margin-left: auto;  
  margin-right: auto;  
  margin-top: 36px;
  padding: 30px;
}

#function-others .row .col-lg-6:nth-child(2) .content {
  margin-top: 36px;
}

#function-others .content .img {
  float: none;
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

#function-others .content .more {
  display: block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-top: 20px;
  padding-right: 30px;
  text-transform: uppercase;
}



/*
--------------------------------------------------------------------------------
  PAGE: PRICING
--------------------------------------------------------------------------------
*/

/* HERO ----------------------------------------------------------------------*/
#pricing-hero {
  background-size: auto 100%;
}

#pricing-hero .article {
  margin-top: 0; 
}

/* PRICING --------------------------------------------------------------------*/
#pricing {
  background: none;
  margin-top: -285px;
}

#pricing .panel {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
}

#pricing.pro .panel-pro,
#pricing.enterp .panel-enterp {
  display: block;
}


#pricing .panel h2 {
  display: none;
}

#pricing .panel .h2 {
  display: block;
  height: 50px;
  margin: -25px -10px 40px -10px;
}

#pricing .panel .h2 a {
  color: #052b53;
  display: block;
  float: left;
  font-size: 22px;
  font-weight: 500;
  line-height: 2.41;
  border: 1px solid #fff; 
  text-align: center;
  width: 50%;
  border-radius: 0 25px 0 0;
}

#pricing .panel .h2 a:first-child {
  border-radius: 25px 0 0 0;
}

#pricing.pro .panel .h2 a:nth-child(1),
#pricing.enterp .panel .h2 a:nth-child(2) {
  color: #fff;
  text-decoration: none;
  background-image: -webkit-linear-gradient(bottom, #00b1ff, #0060ff);
  background-image: -o-linear-gradient(bottom, #00b1ff, #0060ff);
  background-image: linear-gradient(to top, #00b1ff, #0060ff);
}

#pricing .panel .h2 a:hover {
  text-decoration: none;
}

#pricing .panel .h2 a:hover {
  text-decoration: none;
}

#pricing .features {
  font-size: 15px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 0;
}

#pricing .features ul li {
  font-size: 16px;
}

#pricing .panel-more .disable {
  display: none;
}


/* NUMBERS -------------------------------------------------------------------*/
#about-numbers.pricing {
  background-size: auto 100%;
  margin-bottom: -200px;
  padding-bottom: 200px;
  margin-top: -100px;
  padding-top: 100px;
}

#about-numbers.pricing > div {
  background: url(../images/pricing-numbers-sm.svg) no-repeat 50% 100%;
  padding-bottom: 80px;
}



/*
--------------------------------------------------------------------------------
  PAGE: CLIENTS
--------------------------------------------------------------------------------
*/

/* HERO ----------------------------------------------------------------------*/
#clients-hero {
  padding-bottom: 90px;
}

#clients-hero .img {
  margin-top: 30px;
}


/* CLIENTS -------------------------------------------------------------------*/
#clients {
  margin-bottom: 30px;
}

#clients .nav li + li {
  margin-left: 15px;
}

#clients .img {
  margin-left: -15px;
  margin-right: -15px;
}

#clients .img img {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#clients .row {
  margin-top: -30px;
}

#clients .row .col-lg-6 {
  padding: 0;
}

#clients .panel {
  height: auto;
  max-width: 345px;
  padding: 25px 15px;
}

#clients .panel.disable {
  margin-bottom: 15px;
}


/* CLIENTS-TEAMS -------------------------------------------------------------*/
#clients-teams {
  background: url(../images/clients-teams.svg) no-repeat 10% 0;
  background-size: auto 100%;
  padding: 90px 0 100px 0;
}

#clients-teams h2 {
  margin-bottom: 30px;
  padding-bottom: 30px;
}

#clients-teams .row-team {
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
}

#clients-teams .row-team > div:first-child .team {
  border: none;
}

#clients-teams .team {
  border-top: 1px solid #fff !important;
  border-right: none !important;
  padding-bottom: 30px;
  position: static;
}

#clients-teams .row-team > div:nth-child(1) .team {
  border-top: none !important;
}

#clients-teams .team .b {
  margin-top: 25px;
  padding: 0;
  position: static;
}

#clients-teams .footer {
  margin-top: 40px;
}


/* CLIENTS-PRESS -------------------------------------------------------------*/
#clients-press {
  background: url(../images/clients-press.svg) no-repeat 50% 100%;
  background-size: 90% auto;
  padding-top: 0;
  padding-bottom: 80px;
}

#clients-press .carousel-indicators {
  margin-bottom: 25px;
}

#clients-press .carousel-indicators li {
  display: none;
}

#clients-press .carousel-indicators li.active {
  display: block;
}

#clients-press .carousel-item {
  padding-left: 25px;
  padding-right: 25px;
}

#clients-press .carousel-control-prev, 
#clients-press .carousel-control-next {
  background-position: 50% 50%;
  bottom: auto;
  height: 40px;
  width: 40px;
}


/* HERO ----------------------------------------------------------------------*/
#contact-us-hero {
  background-image: url(../images/hero-sm.svg);
  background-size: 100% 100%;
  padding-bottom: 180px;
}

#contact-us-hero .article {
}

#contact-us-hero h1 {
  font-size: 38px;
  margin-bottom: 7px; 
}

#contact-us-hero p {
  font-size: 15px; 
  line-height: 20px;
}


/* CONTACT-US ----------------------------------------------------------------*/
#contact-us {
  background-size: 90% auto;
  margin-top: -120px;
  padding-bottom: 90px;
}


#contact-us .panel {
  font-size: 19px;
}

#contact-us .panel.email,
#contact-us .panel.phone {
  margin-top: 0;
}

#contact-us .panel.address {
  margin-top: 80px;
  margin-bottom: 80px;
}

#contact-us .panel .img {
  height: 89px;
  margin: -50px auto 35px auto;
  padding-top: 22px;
  text-align: center;
  width: 89px;
}

#contact-us .panel.email .img {
  background: url(../images/contact-us-email.svg) no-repeat 50% 50%;
  padding-top: 34px;
}
#contact-us .panel.address .img {
  background: url(../images/contact-us-address.svg) no-repeat 50% 50%;
}
#contact-us .panel.phone .img {
  background: url(../images/contact-us-phone.svg) no-repeat 50% 50%;
  padding-top: 25px;
}

#contact-us .panel a {
  color: #617892
}


/*
--------------------------------------------------------------------------------
  PAGE: CARREERS
--------------------------------------------------------------------------------
*/

/* HERO ----------------------------------------------------------------------*/
#carreers-hero .inner {
  background-image: url(../images/carreers-hero-sm.svg);
  background-size: 100% auto;
  padding-top: 80px;
  padding-bottom: 320px;
}



/* CARREERS ----------------------------------------------------------------*/
#carreers .labels > .col-lg-6:nth-child(2),
#carreers .positions > .col-lg-5 {
  display: none;
}




/*
--------------------------------------------------------------------------------
  FOOTER
--------------------------------------------------------------------------------
*/

#footer {
  text-align: center;
}

/* DEMO ----------------------------------------------------------------------*/
#demo {
  margin: 0 10px;
  margin-top: -175px;
  margin-bottom: 40px;
  padding: 35px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#demo td {
  display: block;
}

#demo td:nth-child(1),
#demo td:nth-child(2),
#demo td:nth-child(3) {
  width: 100%;
}

#demo td:nth-child(3) {
  white-space: normal;
}

#demo p {
  margin: 30px 0;
}

#footer .top {
  background-size: auto 100%;
  padding: 40px 0;
}

#footer .navbar-brand {
  margin-bottom: 35px;
}

#footer .btn-primary {
  margin-bottom: 20px;
}

#footer .nav > div {
  margin-top: 20px;
}

#footer > .container .row + .row {
  margin-top: 0;
}

#footer .social {
  margin-top: 20px;
}

#footer .newsletter {
  margin: 40px auto 0 auto;
  max-width: 350px;
}

#footer .newsletter form {
  margin-top: 40px;
}

#footer .iso {
  margin-top: 40px;
  text-align: center;
}

#footer > .container:first-child {
  padding-bottom: 0px;
}


/* BOTTOM ----------------------------------------------------------------------*/
#footer .bottom {
  background-size: auto 100%;
  margin-top: -39px;
  padding: 60px 0 40px 0;
  text-align: center;
}

#footer .apk {
  padding-top: 30px;
  text-align: center;
}

}

@media (max-width: 420px) {

/* DEMO ----------------------------------------------------------------------*/
#demo {
  margin-left: 10px;
  margin-right: 10px;
  max-width: auto;
}

}